{% load static %}

<footer class="bg-body-blue py-5 mt-5">
    <div class="container">
        <div class="row gy-3">
            <div class="col-lg-3 col-md-6 ">
                <img src="{% static 'onc_app/image/Unlock.png' %}"
                    class="img-fluid logo_brand mb-lg-2"
                    alt="logo">
                    <div class="row gy-2 mt-0">
                        <div class="col-lg-6 col-6">
                            
                            <img src="{% static 'onc_app/image/appStore.png' %}"
                                alt="AppStoreIcon" class="img-fluid">
                        </div>
                        <div class="col-lg-6 col-6">

                            <img src="{% static 'onc_app/image/googlePlay.png' %}"
                                alt="GooglePlayIcon" class="img-fluid">
                        </div>
                    </div>
                <p class="common-style color-white mb-0">Follow our social
                    channels</p>
                <div class="d-flex">
                    <img src="{% static 'onc_app/images/insta.svg' %}"
                        class="img-fluid social-icon me-3"
                        alt="insta.svg">
                    <img src="{% static 'onc_app/images/fb.svg' %}"
                        class="img-fluid social-icon me-3" alt="fb.svg">
                    <img src="{% static 'onc_app/image/twitter.png' %}"
                        class="img-fluid social-icon me-3 twitter_ico"
                        alt="twitter">
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-6  ">
                <div class="footer__col">

               
                <h3 class="footer-menu color-white">ALGORITHMS</h3>
                <ul class="p-0 list-unstyled">
                    <li class="p-0"><a href="#"
                            class="color-white common-style">Breast
                            Cancer
                        </a></li>
                    <li class="p-0"><a href="#"
                            class="color-white common-style"> GI Cancer

                        </a></li>
                    <li class="p-0"><a href="#"
                            class="color-white common-style"> GU Cancer

                        </a></li>
                    <li class="p-0"><a href="#"
                            class="color-white common-style"> Hematology

                        </a></li>
                    <li class="p-0"><a href="#"
                            class="color-white common-style"> Lung
                            Cancer

                        </a></li>
                    <li class="p-0"><a href="#howToTrade"
                            class="color-white common-style">All: A->Z
                        </a></li>
                </ul>
            </div>
            </div>
            <div class="col-lg-3 col-md-6 col-6  ">
                <div class="footer__col">

                
                <h3 class="footer-menu color-white">ABOUT</h3>
                <ul class="p-0 list-unstyled">
                    <li class="p-0"><a href="{% url 'about' %}"
                            class="color-white common-style">About us
                        </a></li>
                    <li class="p-0"><a href="#"
                            class="color-white common-style"> Algorithms

                        </a></li>
                    <li class="p-0"><a href="#"
                            class="color-white common-style"> Medical
                            Partners

                        </a></li>
                    <li class="p-0"><a href="#contact"
                            class="color-white common-style">Contact Us
                        </a></li>
                </ul>
            </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 footer__col">
                <h3 class="footer-menu color-white">Terms and Condition</h3>
                <p class="common-style color-white">Calculations must be
                    re-checked and should not be used alone to guide
                    patient care, nor should they substitute for
                    clinical judgment. See our full disclaimer.</p>
            </div>
            <p class="common-style color-white text-center pt-3 mb-0">Copyrights
                2023, UnlockCancer. All rights reserved.</p>

        </div>
    </div>

</footer>