{% extends 'onc_layout.html' %}
<!-- {% load static %} -->
{% block content %}
    <section id="about-us" class="bg-color-secondary mt-5 py-5">
        <div class="container-fluid mt-5 px-5">
            <div class="card bg-white p-5 rounded-5 border-0 ">
                <div class="row mb-5">
                    <div class="col-md-12">
                        <div class="pt-4">
                            <h2 class="about_us_heading color-gray-dark">About
                                UnlockCancer</h2>
                            <p
                                class="mb-0 about_us_content common-style color-gray">
                                Welcome to UnlockCancer, UnlockCancer is a
                                platform dedicated to providing
                                comprehensive and accessible information
                                about cancer. Our mission is to empower
                                individuals, caregivers, and healthcare
                                professionals with the knowledge they need
                                to understand, manage, and navigate the
                                complex world of cancer.
                            </p>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div
                        class="col-lg-4 col-md-4 mb-2 d-flex justify-content-center text-center">
                        <div>

                            <img src="{% static 'onc_app/image/communication.png' %}"
                                class="img-fluid card-icon mb-3"
                                alt="secure">
                            <p
                                class="card_content common-style color-gray mb-0">Accessed
                                by</p>
                            <h3 class="card_title color-gray-dark">Millions
                                of Monthly Users</h3>
                        </div>
                    </div>
                    <div
                        class="col-lg-4 col-md-4 mb-2 d-flex justify-content-center text-center">
                        <div>

                            <img src="{% static 'onc_app/image/international.png' %}"
                                class="img-fluid card-icon2 mb-3"
                                alt="UserFriendly.svg">
                            <p
                                class="card_content common-style color-gray mb-0">Used
                                in 200+</p>
                            <h3 class="card_title color-gray-dark">Countries
                                and Territories</h3>
                        </div>
                    </div>
                    <div
                        class="col-lg-4 col-md-4 mb-2 d-flex justify-content-center text-center">
                        <div>

                            <img src="{% static 'onc_app/image/info.png' %}"
                                class="img-fluid card-icon2 mb-3"
                                alt="FastandEfficient.svg">
                            <p
                                class="card_content common-style color-gray mb-0">Supporting
                                50+</p>
                            <h3 class="card_title color-gray-dark">Specialties</h3>
                        </div>
                    </div>

                </div>
                <div class="pt-5">
                    <p class="mb-0 about_us_content common-style color-gray">
                        Since its inception, UnlockCancer has been an
                        indispensable resource for individuals, caregivers,
                        and healthcare professionals seeking to navigate the
                        challenging landscape of cancer. Our platform is
                        dedicated to delivering evidence-based information
                        and resources to empower better understanding and
                        management of cancer-related issues. We cover a vast
                        array of cancer types, offering insights into their
                        causes, symptoms, diagnosis, and treatment options.
                    </p>
                    <p class="mb-0 about_us_content common-style color-gray">
                        UnlockCancer is not limited by geographical
                        boundaries. While our roots may be in North America,
                        our reach extends globally, with users from over 200
                        countries and territories finding value in our
                        offerings. </p>
                    <p class="mb-0 about_us_content common-style color-gray">Unlock
                        the potential for better cancer understanding and
                        care by visiting UnlockCancer today.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- section -->

    <section id="whyChooseUs" class="bg-color-secondary pb-3">
        <div class="container-fluid px-5">
            <div class="card bg-white p-5 rounded-5 border-0  ">
                <div class="row mb-3">
                    <div class="col-md-12">
                        <div class="pt-4">
                            <h2 class="about_us_heading color-gray-dark">Our
                                Story</h2>
                            <p
                                class="mb-3 about_us_content common-style color-gray">
                                In 2005, the idea for UnlockCancer was born
                                from Graham's experiences during medical
                                school. It became evident to him that
                                memorizing complex criteria, scores, and
                                equations – instead of concentrating on
                                patient care – was a suboptimal use of a
                                physician's valuable time and cognitive
                                resources. Graham's vision was to create a
                                resource centered around healthcare
                                providers, one that would enhance efficiency
                                and lighten the cognitive load for
                                physicians.
                            </p>
                        </div>
                        <div class="pt-4">
                            <h2 class="about_us_heading color-gray-dark">Meet
                                the Founders</h2>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 mb-2">
                        <img src="{% static 'onc_app/image/ROHIT.jpg' %}"
                            class="img-fluid card-icon rounded-2 mb-3"
                            alt="secure">
                        <h3 class="card_title color-gray-dark">Rohit Gosain,
                            M.D.</h3>
                        <p class="card_content common-style color-gray mb-0">Rohit
                            is a Chair of the Department of Hematology and
                            Oncology at the UPMC Hillman Cancer Center at
                            UPMC Chautauqua. He offers his community-leading
                            expertise in oncology as one of the Oncology
                            Brothers. His insight contributes towards
                            groundbreaking advancements in cancer treatments
                            and technologies that facilitate medical
                            learning. He has contributed and reviewed
                            several medical publications while pioneering
                            technologies that enable medical students to
                            learn more efficiently. His combined expertise
                            in medical technologies and oncology began with
                            his studies in computer engineering.</p>
                    </div>
                    <div class="col-lg-6 col-md-6 mb-2">
                        <img src="{% static 'onc_app/image/RAHUL.jpg' %}"
                            class="img-fluid card-icon rounded-2 mb-3"
                            alt="UserFriendly.svg">
                        <h3 class="card_title color-gray-dark">Rahul Gosain,
                            M.D.</h3>
                        <p class="card_content common-style color-gray mb-0">Rahul
                            is a Medical Director of Wilmot Cancer Institute
                            at Webster, Director of Wilmot Cancer Institute
                            Regional Infusion services, and, importantly, a
                            clinician seeing a wide variety of solid and
                            hematologic malignancies. His insight
                            facilitates some of the most technologically
                            advanced cancer treatments, sharing his
                            developments with his patients in the community.
                            He is a valued member of the University of
                            Rochester Medicine-Strong Memorial Hospital,
                            contributing his extensive knowledge of
                            technology and professional oncology experience
                            to the clinic.</p>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <!-- section -->
    <section id="users-say" class="bg-color-secondary py-5 mb-5">
        <div class="container-fluid px-5">
            <div class="py-5">
                <h2 class="about_us_heading color-gray-dark">What our users
                    say</h2>
                <p class="users-say common-style color-gray mb-0">Discover
                    what our users have to say about their <br> experiences
                    with UnlockCancer.</p>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="card p-4 rounded-5 border-0 bg-white">
                        <div
                            class="d-flex align-items-center justify-content-between mb-3">
                            <img src="{% static 'onc_app/images/men.png' %}"
                                class="img-fluid" alt="men">
                            <span class="client-name color-gray-dark">Chinedu
                                Okoro</span>
                        </div>
                        <p class="common-style mb-0 color-gray">UnlockCancer
                            has been an incredible resource, helping me
                            understand my diagnosis and treatment options.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card p-4 rounded-5 border-0 bg-white">
                        <div
                            class="d-flex align-items-center justify-content-between mb-3">
                            <img src="{% static 'onc_app/images/women1.png' %}"
                                class="img-fluid" alt="women1.png">
                            <span class="client-name color-gray-dark">Amaka
                                Amaechi</span>
                        </div>
                        <p class="common-style mb-0 color-gray">I can't
                            thank UnlockCancer enough for the guidance and
                            reassurance it has provided throughout my cancer
                            battle.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card p-4 rounded-5 border-0 bg-white">
                        <div
                            class="d-flex align-items-center justify-content-between mb-3">
                            <img src="{% static 'onc_app/images/men2.png' %}"
                                class="img-fluid" alt="men2.png">
                            <span class="client-name color-gray-dark">Olumide
                                Ibrahim</span>
                        </div>
                        <p class="common-style mb-0 color-gray">This
                            platform is a must-have for anyone dealing with
                            cancer – it's informative, and truly supportive.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card p-4 rounded-5 border-0 bg-white">
                        <div
                            class="d-flex align-items-center justify-content-between mb-3">
                            <img src="{% static 'onc_app/images/women2.png' %}"
                                class="img-fluid" alt="women2.png">
                            <span class="client-name color-gray-dark">
                                Ifeoma Okafor</span>
                        </div>
                        <p class="common-style mb-0 color-gray">UnlockCancer
                            is a beacon of light in a challenging time,
                            offering sense of community.</p>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- section -->

    <section id="contact"
        class="bg-color-secondary py-5 position-relative mb-5">
        <div class="container-fluid px-5">
            <div
                class="card bg-white p-5 rounded-5 border-0 form-card position-relative">
                <img src="{% static 'onc_app/images/walletwithcash.svg' %}"
                    class="position-absolute walletwithcash img-fluid"
                    alt="walletwithcash.svg">
                <div class="py-5 text-center">
                    <h2 class="about_us_heading  color-gray-dark">Get in
                        touch with us</h2>
                    <p class="users-say common-style color-gray mb-0">Reach
                        out to us for any inquiries, support, or feedback.
                        <br> We're here to assist you!</p>
                </div>
                <form action onsubmit="return false;" class="form-padd">
                    <div class="form-group mb-3">
                        <input type="text" placeholder="Enter full name"
                            class="custom_input form-control common-style">
                    </div>
                    <div class="form-group mb-3">
                        <input type="text" placeholder="Enter email"
                            class="custom_input form-control common-style">
                    </div>
                    <div class="form-group mb-3">
                        <input type="text" placeholder="Enter phone number"
                            class="custom_input form-control common-style">
                    </div>
                    <div class="form-group mb-3">
                        <textarea name placeholder="Enter your message"
                            rows="5"
                            class="custom_input form-control custom_textarea common-style"
                            id></textarea>
                    </div>
                    <div class="form-group mb-3">
                        <button
                            class="btn btn-theme w-100 rounded-3 bg-color-primary color-white"
                            data-bs-toggle="modal"
                            data-bs-target="#popup">Send
                            Message</button>
                    </div>
                </form>

            </div>
        </div>
        <img src="{% static 'onc_app/images/circle.svg' %}"
            class="position-absolute circle-icon img-fluid "
            alt="circle.svg">
    </section>

    <!-- Modal -->
    <div class="modal fade" id="popup" tabindex="-1"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content bg-modal rounded-4 border-0">

                <span type="button" class="btn-close-custom"
                    data-bs-dismiss="modal" aria-label="Close"><img
                        src="{% static 'onc_app/images/mdi_cancel-bold.svg' %}"
                        class="img-fluid" alt></span>

                <div class="py-5 text-center">
                    <h2 class="about_us_heading  color-white">Get in
                        touch with us</h2>
                    <p class="users-say common-style color-white mb-0">Reach
                        out to us for any inquiries, support, or feedback.
                        <br> We're here to assist you!</p>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}