{% extends 'template.html' %}
{% load static %}

{% block content %}
    <header class="py-5 shop-header">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Our Style</h1>
                <!-- <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p> -->
            </div>
        </div>
    </header>
    <div class="container p-5 text-center">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis ex laborum consequatur eaque repellat quis magni dolores explicabo nemo voluptas inventore architecto atque, iure, quaerat reiciendis, odit est pariatur unde!
        Tempora suscipit esse et dolores voluptates magnam fugiat. Expedita a minima officiis aperiam iure eum obcaecati nesciunt suscipit laudantium, animi placeat quaerat soluta quidem libero nam facilis omnis. Fugit, dolorem!
        Molestiae debitis delectus harum tempora ab temporibus cumque quidem cupiditate amet fuga consequuntur ipsam aut iste voluptatem labore deleniti itaque placeat nemo magni ea, officiis quaerat repudiandae! Assumenda, voluptate totam.
        Tenetur cumque ea, saepe assumenda ducimus tempora illum quos reiciendis esse odit exercitationem at hic numquam dignissimos placeat repudiandae nihil.
        Libero ea aspernatur fugiat cupiditate, aperiam tempore consequuntur ut eos?</p>

        <p>Earum mollitia voluptates culpa reiciendis reprehenderit est velit, magnam temporibus. Cumque quas expedita temporibus quia asperiores, dignissimos repudiandae sunt, blanditiis ullam reprehenderit suscipit sapiente, mollitia eaque placeat consequatur! Animi, eum?
        Quos autem unde rem dicta fugit atque obcaecati qui, odit commodi, architecto, quidem nostrum hic quas. Fugiat, necessitatibus quos velit similique atque assumenda voluptate laboriosam magnam quidem perspiciatis eligendi laudantium.
        Itaque maiores adipisci, accusantium dolor delectus obcaecati possimus exercitationem nihil esse illo cumque ipsum voluptatum placeat accusamus amet.</p> 
        
        <p>Saepe ratione maxime possimus animi. Aspernatur ratione esse repudiandae perferendis eos ut!
        Error, fuga debitis. Adipisci omnis aliquam doloremque doloribus enim tenetur possimus asperiores mollitia autem magnam, perferendis tempore optio fugiat sunt incidunt vero, soluta facilis laudantium velit temporibus. Doloribus, omnis reiciendis.
        Error deleniti laudantium ab sequi, a illum iusto recusandae qui quam, quaerat enim inventore dicta voluptatibus eius accusamus. Magni inventore porro unde recusandae rem veritatis nobis quod in obcaecati reiciendis.
        At ullam aperiam tempore praesentium laboriosam omnis autem ipsam cupiditate perferendis eaque excepturi quo odio voluptatum libero sunt nesciunt unde optio expedita, tenetur eligendi quod debitis quam officiis. Cumque, similique!</p> 
    </div>
{% endblock %}