{% extends 'template.html' %}
{% load static %}
{% block content %}
<hr>
<!-- Main content -->
      <div class="container d-flex justify-content-between mt-5">
        <div ><a class="my" href="#">Home  /</a> <a class="my fw-bold" href="#"> My Account</a></div>
       
        <div class="inline">
            <p class="fw-bold">Welcome! <a href=""  > <span class="forgot-password">Mr Abdullah</span></a>
            </p>
        </div>
    </div>
<br>
<br>
    <main>
        <div class=" containermyaccount d-flex justify-content-between mt-3">           
                <div class="me-4">
                    <div class="fw-bold subheading"><a href="">Manage My Account</a></div>   
                    
                      <div class="ms-5 me-5 mt-4 sidenav">
                        <li class="my-1 "><a href="">My Profile</a></li>
                        <li class="my-1"><a href="">Adress Book</a></li>
                        <li class="my-1"><a href="">My Payment Options</a></li>
                      </div>
                        <div class="fw-bold mt-4 subheading"><a href="">My Orders</a></div>   

                        <div class="ms-5 me-5 mt-4 sidenav">
                          <li class="my-1 "><a href="">My Returns</a></li>
                          <li class="my-1"><a href="">My Cancellations</a></li>
                        </div>
                        <div class="fw-bold mt-4 subheading"><a href="">My Wishlist</a></div>   
                        <div class="ms-5 me-5 mt-4 sidenav">
                            <li class="my-1 "><a href=""> </a></li>
                            <li class="my-1"><a href=""> </a></li>
                        </div>
                  <!-- </ol> -->
                </div>
                <div  class="container pe-5">
                <form class="  col-md-8 row g-3 fborder">
                    <h2 class="forgot-password">Edit Your Profile</h2>
                    <div class="col-lg-5">
                        <label for="inputEmail4" class="form-label forgot-password">First Name</label>
                        <input type="email" class="form-control" id="inputEmail4" placeholder="Md">
                      </div><br>
                      <div class=" col-lg-5">
                        <label for="inputPassword4" class="form-label forgot-password">Last Name</label>
                        <input type="password" class="form-control" id="inputPassword4" placeholder="Rimel">
                      </div>
                      <div class="col-lg-5">
                        <label for="inputEmail4" class="form-label forgot-password">Email</label>
                        <input type="email" class="form-control" id="inputEmail4" placeholder="rimellllll@gmail.com">
                      </div><br>
                      <div class=" col-lg-5">
                        <label for="inputPassword4" class="form-label forgot-password">Address</label>
                        <input type="password" class="form-control" id="inputPassword4" placeholder="Kingston, 5236, United State">
                      </div>
                    <div class="form-row">
                      <div class="form-group col-md-10">
                        <label for="inputCity " class="forgot-password" >Password Changes</label>
                        <input type="text" class="form-control " id="inputCity" placeholder="Current Password">
                      </div>
                      <div class="form-group col-md-10">
                        <label for="inputCity"></label>
                        <input type="text" class="form-control" id="inputCity" placeholder="New Password">
                      </div>
                      <div class="form-group col-md-10">
                        <label for="inputCity"></label>
                        <input type="text" class="form-control" id="inputCity" placeholder="Confirm New Password">
                      </div>
                    </div>
                   
                    <div class=" d-flex justify-content-lg-center btn1  mb-4">
                  <div class="col-md-5"></div>     

                        <span>Cancel</span>
                        <button type="submit" class="btn2 ms-5 me-5"> Save Changes </button>
                      </div>
                  </form>
                </div>
            
                  <div class="col-md-auto"></div>     

                      
                </div>   
            
            
            </div>
            
    </main>
<br><br>

{% endblock %}