{% extends 'layout.html' %}

{% block content %}
    <div class="container">
        <h1 class="mt-4 text-center ">Add New User</h1>
        <form class="needs-validation mt-5" action="{% url 'create' %}" method="POST" enctype="multipart/form-data" novalidate>
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            
            {% csrf_token %}
            {{ form.first_name.errors}}
            {{ form.last_name.errors}}
            {{ form.email.errors}}
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="firstName">First name</label>
                    {{ form.first_name}}
                    <div class="invalid-feedback">
                    Valid first name is required.
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="lastName">Last name</label>
                    {{ form.last_name }}
                    <div class="invalid-feedback">
                    Valid last name is required.
                    </div>
                </div>
            </div>    
            <div class="mb-3">
                <label for="email">Email <span class="text-muted">(Optional)</span></label>
                    {{ form.email }}
                <div class="invalid-feedback">
                    Please enter a valid email address for shipping updates.
                </div>
            </div>
            <div class="mb-3">
                <label for="email">File</label>
                    {{ form.file }}
                <div class="invalid-feedback">
                    Please enter a valid email address for shipping updates.
                </div>
            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>
{% endblock %}