{% extends 'layout.html' %}

{% block content %}
    <div class="container">
        <div class="heading">
            <h1>Users</h1>
            <div>
                <a class="btn btn-primary" href="/add-user"> Add User</a>
            </div>
        </div>
        
        <table class="table table-striped ">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>IMAGE</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                    <tr>
                        <td> {{ student.id }} </td>
                        <td> {{ student.first_name }} </td>
                        <td> {{ student.last_name }} </td>
                        <td> {{ student.email }} </td>
                        <td> <img src="../media/{{ student.image }}" alt="{{ student.image }}">  </td>
                        <!-- <td> <a href="users/update-users/{{student.id}}"><i class="fa-solid fa-square-pen"></i></a> <a href="/delete-user/{{ student.id }}" style="color:red"><i class="fa-sharp fa-solid fa-trash"></i></a> </td> -->
                        <td> <a href="{% url 'update' id=student.id %}"><i class="fa-solid fa-square-pen"></i></a> <a href=" {% url 'delete' id=student.id %}" style="color:red"><i class="fa-sharp fa-solid fa-trash"></i></a> </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}