body {
    padding: 0;
    margin: 0;
    background-color: ;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.quiz-container {
    background-color: #eccc68;
    padding: 20px;
    width: 600px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.quiz-container > h3 {
    font-size: 36px;
    color: #ff6348;
}

button {
    font-size: 24px;
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}

button:hover {
    background-color: #f7e6b5;
}